<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="index">

<body>
<main layout:fragment="contenido">

    <form th:object="${enterprise}" th:action="@{/Enterprise/actualizarEmpresa}" method="POST">
        <div class="form-group py-4" style="margin: .4rem 0; width: 150%; max-width: 650px; margin: 0 auto;flex-direction: column;justify-content: center;align-items: center;"> <!-- Primera sesion-->
            <h5 class="text-decoration-underline py-4 fw-semibold text-dark "> Empresas </h5>
            <div class="card bg-light px-5 py-2">

                <h4 align="center"> Actualizar Empresa</h4>

                <div>
                    <label for="name" >
                        <h5> Nombre </h5>
                    </label>
                    <input autocomplete="off" autofocus  id="name" name="name"
                           placeholder="Escribe el nombre de la empresa" type="text" th:value="${enterprise.name}" class="form-control">
                </div>

                <div>
                    <label for="document">
                        <h5> Documento </h5>
                    </label>
                    <input autocomplete="off" autofocus  id="document" name="document"
                           placeholder="Escribe el documento" type="text"
                           class="form-control" th:value="${enterprise.document}">
                </div>

                <!-- El campo Telefono-->
                <div>
                    <label for="phone">
                        <h5> Teléfono </h5>
                    </label>
                    <input autocomplete="off" autofocus  id="phone" name="phone"
                           placeholder="Escribe el Telefono" type="text" th:value="${enterprise.phone}"
                           class="form-control">
                </div>




                <div class="container-fluid h-100 py-1">
                    <div class="row w-100 align-items-center">
                        <div class="col text-center">
                            <button class="btn btn-warning regular-button" type="submit"> Actualizar </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<button class="btn btn-warning px-2" type="submit" style=" padding: .5em 1em; border:none; background: rgb(100,200,255); cursor: pointer;" >Ingresar</button>-->
    </form>




</main>
</body>
</html>