<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="index">
<body>
<main layout:fragment="contenido">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <table class=" table border-left border border-top table-sm table-striped round_table table-hover align-middle caption-top" style="border-radius: 10px;">
                    <caption> <h4 class="text-decoration-underline py-3 fw-semibold text-dark "> Ingresos y egresos </h4>
                    </caption>
                    <thead>
                    <tr>
                        <!-- Utilicé tres td, para que quede en el lado derecho debajo del último-->
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>

                        <td  align="left">


                            <a class="btn btn-info" disabled th:href="@{/Transaction/nueva}"> Nuevo <i
                                    class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <th> Monto </th>
                        <th> Concepto </th>
                        <th> Fecha </th>
                        <th>         </th>
                        <th>         </th> <!--Creería que aún no corre, porque no es funcional los botones-->


                    </tr>
                    </thead>
                    <!--Filas de la tabla-->
                    <tbody>
                    <!--IMPORTANTE. Dibuja las columnas por cada campo del objeto (almacenadas en supabase)-->
                    <tr th:each="transaction: ${consultarMovimientos}">
                        <!-- Esto se hace con el fin de que el las cree automaticas y no crearlas propias-->
                        <td th:text="${transaction.amount}"></td>
                        <td th:text="${transaction.concept}"></td>
                        <td th:text="${transaction.createdAt}"></td>

                        <td>
                            <form th:action="@{/Transaction/eliminar}" method="post" >
                                <input type="hidden" name="id" th:value="${transaction.id}"/>
                                <button type="submit" class="btn justify-content-md-end btn-secondary"> Eliminar <i class="fa fa-trash"></i>
                                </button>
                            </form>
                        </td>


                        <td>
                            <form th:action="@{/Transaction/actualizar}" method="post" th:object="${transaction}">
                                <input type="hidden" name="id" th:value="${transaction.id}" />
                                <button type="submit" class="btn btn-dark"> Actualizar <i class="fa fa-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
</body>
</html>